@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');


body {
    font-family: 'Inter';
    margin: 0;
    padding: 0;
    background: #F1F1F1;
}

nav {
    background-color: #1C181D;
    height: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo img {
    display: none;
}

.search {
    position: relative;
    padding: 12px 6px;
}

.search input {
    padding: 8px;
    gap: 6px;
    width: 238px;
    padding-left: 45px;
    flex: 1 0 0;
    border-radius: 8px;
    border: 1px solid var(--stroke-s-200, #616161);
    background: var(--grey-g-200, #303030);
    font-size: 13px;
}

.search-icon {
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
}

.notifications {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bell-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    outline: 0px;
    border: none;
    background: none;

}

.bell-icon svg {
    padding: 6px;
}

.bell-icon-alert {
    display: none;
    position: absolute;
    width: 358px;
    top: 50px;
    right: 40px;
    padding: 16px;
    border-radius: 14px;
    border: 1px solid var(--stroke-s-50, #DBDBDB);
    background: var(--White, #FFF);
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.05);
}

.bell-icon-alert-headline {
    margin-top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bell-icon-alert-headline h6 {
    font-size: 14px;
    font-weight: 600;
    color: var(--font-dark, var(--grey-g-200, #303030));
}

.alerts-more,
.alerts-check {
    background: none;
    border: none;
}

.bell-icon-alert-body {
    padding: 16px;
    background: var(--states-hover, #F1F1F1);
    color: var(--font-dark, var(--grey-g-200, #303030));
    text-align: center;
    font-size: 13px;
    font-style: normal;
    font-weight: 600;

}

.david-info {
    display: none;
}

.user-info {
    background: none;
    border: none;
    outline: 0px;
}

.user-intials {
    padding: 9px 5px 10px 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    background: #36FBA1;
}

.user-info-menu {
    width: 320px;
    padding: 6px 0px;
    border-radius: 14px;
    border: 1px solid var(--stroke-s-50, #DBDBDB);
    background: var(--White, #FFF);
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.05);
}

.user-info-menu a {
    text-decoration: none;
    font-size: 13px;
    font-weight: 400;
    color: var(--font-dark, var(--grey-g-200, #303030));
}

.user-info-menu-title {
    display: flex;
    padding: 4px 12px 4px 8px;
    justify-content: space-between;
    align-items: center;
    border-radius: 8px;
    background: var(--states-hover, #F1F1F1);
}

.david-intials {
    height: 28px;
    padding: 9.625px 5.875px 10.375px 6.125px;
    border-radius: 5.25px;
    background: #36FBA1;
}

.david-collection {
    color: var(--font-dark, var(--grey-g-200, #303030));
    font-size: 13px;
    font-weight: 600;
}

.user-info-menu-title-check,
.storehouse {
    border: none;
    background: none;
}

.all-stores {
    display: flex;
    align-items: center;
}

.all-stores,
.help-center,
.changelog,
.community-forums,
.shopify-partner,
.keyboard-shortcuts,
.david-michael,
.manage-account,
.log-out {
    padding: 6px;
}

.extend-trial {
    padding: 12px 8px 12px 16px;
    margin-top: 15px;
    background: var(--grey-grey-300, #1A1A1A);
}

.extend-trial-headline {
    display: flex;
    align-items: center;
}

.extend-trial-headline p {
    font-size: 13px;
    padding-left: 8px;
    color: var(--font-light, #E3E3E3);
}

.extend-trial-headline svg {
    padding-left: 70px;
    cursor: pointer;
}

.search-plan-button {
    padding: 6px 12px;
    margin-left: 8px;
    align-items: center;
    border: 1px solid rgba(0, 0, 0, 0.10);
    background: var(--White, #FFF);
    box-shadow: 0px -1px 0px 0px #B5B5B5 inset;
    border-radius: 6px;
    color: #323232;
    border: 1px solid rgba(0, 0, 0, 0.1);
    font-size: 12px;
    cursor: pointer;
}

.setup-guide {
    padding: 8px;
    border: 1px solid var(--stroke-s-50, #DBDBDB);
    background: var(--White, #FFF);
    box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.05);
    margin-top: 16px;
}

.setup-headline {
    display: flex;
    align-items: center;
    height: 10px;
    padding-left: 15px;
    margin-top: 16px;
}

.setup-headline h6 {
    font-size: 14px;
    font-weight: 600;
    color: #303030;
}

.arrow-up,
.arrow-down {
    padding-left: 318px;
    cursor: pointer;
}

.arrow-down {
    display: none;
}

.option-cards {
    overflow: hidden;
    transition: height 0.3s ease-in-out;
}

.setup-guide p {
    font-size: 13px;
    padding-left: 15px;
    font-weight: 400;
    color: #303030;
}

.setup-progression {
    font-size: 12px;
    font-weight: 400;
    color: #303030;
    padding-left: 15px;
    padding-bottom: 16px;
}

.option-one,
.option-two,
.option-three,
.option-four,
.option-five {
    background: #F3F3F3;
    margin-left: 7px;
    margin-right: 7px;
    padding: 20px;
    border-radius: 10px;
    display: flex;
}

.option-two,
.option-three,
.option-four,
.option-five {
    margin-top: 5px;
}

.option-one-headline,
.option-two-headline,
.option-three-headline,
.option-four-headline,
.option-five-headline {
    display: flex;
    align-items: center;
    height: 10px;
}

.option-one-headline h6,
.option-two-headline h6,
.option-three-headline h6,
.option-four-headline h6,
.option-five-headline h6 {
    font-size: 13px;
    font-weight: 600;
    color: #303030;
    padding-left: 5px;
    padding-bottom: 8px;
}

.option-one p,
.option-two p,
.option-three p,
.option-four p,
.option-five p {
    font-size: 14px;
    font-weight: 500;
    color: #616161;
    line-height: 18.2px;
    padding-left: 31px;
}

.option-one p a,
.option-two p a,
.option-three p a,
.option-four p a,
.option-five p a {
    font-size: 14px;
    font-weight: 500;
    color: #005BD3;
    text-decoration: none;
}

.customize-theme,
.add-product,
.name-store,
.add-domain,
.setup-payment {
    border-radius: 6px;
    background-color: #404040;
    padding: 6px 12px;
    align-items: center;
    border-radius: 6px;
    border-top: 1.5px solid var(--stroke-light-100, rgba(255, 255, 255, 0.20));
    border-right: 1.5px solid var(--stroke-light-100, rgba(255, 255, 255, 0.20));
    border-left: 1.5px solid var(--stroke-light-100, rgba(255, 255, 255, 0.20));
    background: #404040;
    box-shadow: 0px 0px 0px 1.5px #333, 0px 1px 0px 1.5px #333, 0px 2px 0px 0px #000;
    color: #F6F3F6;
    margin-left: 30px;

    font-size: 12px;
    font-weight: 600;
}

.option-one-right,
.option-two-right,
.option-three-right,
.option-four-right,
.option-five-right {
    display: none;
}

.import-product {
    background: none;
    border: none;
    padding: 6px 12px;
    margin-left: 6px;
    font-size: 12px;
    font-weight: 600;
    color: #323232;
}

@media only screen and (min-width: 768px) {
    nav {
        background-color: #1C181D;
        height: 56px;
        color: #fff;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    nav svg {
        display: none;
    }

    .logo img {
        display: flex;
        margin-left: 12px;
    }

    .search {
        position: relative;
    }

    .search input {
        background-color: #322F33;
        border: 1px solid #E3E3E3;
        border-radius: 8px;
        color: #E3E3E3;
        width: 480px;
        padding: 8px;
        font-size: 13px;
        padding-left: 30px;
    }

    .search-icon {
        position: absolute;
        top: 55%;
        left: 10px;
        transform: translateY(-50%);
        cursor: pointer;
    }

    .notifications {
        display: flex;
        margin-right: 10px;

    }

    .bell-icon {
        background-color: #303030;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 32px;
        width: 32px;
        border-radius: 8px;
        transition: all 300ms;
    }

    .bell-icon:hover,
    .user-info:hover,
    .bell-icon:active,
    .user-info:active {
        background-color: #656266;
    }

    .bell-icon:focus,
    .user-info:focus {
        background-color: #656266;
        outline: 3px solid #005BD3;
        outline-offset: 1px;
    }

    .user-info {
        background-color: #333;
        margin-left: 10px;
        height: 32px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 12px;
        width: 142px;
        border-radius: 8px;
        transition: all 300ms;
    }

    .user-intials {
        width: 28px;
        height: 28px;
        background-color: #36FBA1;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 8px;
        color: rgba(0, 0, 0, 0.4);
        margin-right: 1px;
    }

    .extend-trial {
        background-color: #1C181D;
        margin-top: 15px;
        margin-left: 15em;
        width: 800px;
        color: #fff;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-radius: 8px;
    }

    .extend-trial-headline p {
        font-size: 13px;
        padding-left: 15px;
        color: rgba(227, 227, 227, 1);
    }

    .search-plan {
        display: flex;
        align-items: center;
    }

    .search-plan-button {
        border-radius: 6px;
        background-color: #fff;
        color: #323232;
        box-shadow: 0 -1px #B5B5B5;
        border: 1px solid rgba(0, 0, 0, 0.1);
        font-size: 12px;
        padding: 6px, 12px, 6px, 12px;
        cursor: pointer;
    }

    .search-plan svg {
        top: 0;
    }

    main {
        background-color: #fff;
        margin-top: 30px;
        margin-left: 15em;
        width: 800px;
        align-items: center;
        border-radius: 18px;
    }

    .setup-guide {
        padding: 20px;
    }

    .setup-guide h6 {
        font-size: 14px;
        font-weight: 600;
        color: #303030;
    }

    .setup-headline {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 10px;
    }

    .setup-headline span {
        cursor: pointer;
    }

    .setup-guide p {
        font-size: 13px;
        font-weight: 400;
        padding-top: 0;
        color: #303030;
    }

    .setup-progression {
        font-size: 12px;
        font-weight: 400;
        color: #303030;
    }

    .option-one,
    .option-two,
    .option-three,
    .option-four,
    .option-five {
        background: #F3F3F3;
        margin-left: 7px;
        margin-right: 7px;
        padding: 20px;
        border-radius: 10px;
        display: flex;
    }

    .option-two,
    .option-three,
    .option-four,
    .option-five {
        margin-top: 5px;
    }

    .option-one-headline,
    .option-two-headline,
    .option-three-headline,
    .option-four-headline,
    .option-five-headline {
        display: flex;
        align-items: center;
        height: 10px;
    }

    .option-one-headline h6,
    .option-two-headline h6,
    .option-three-headline h6,
    .option-four-headline h6,
    .option-five-headline h6 {
        font-size: 13px;
        font-weight: 600;
        color: #303030;
        padding-left: 5px;
        padding-bottom: 8px;
    }

    .option-one p,
    .option-two p,
    .option-three p,
    .option-four p,
    .option-five p {
        font-size: 13px;
        font-weight: 500;
        color: #616161;
        line-height: 18.2px;
        padding-left: 31px;
    }

    .option-one p a,
    .option-two p a,
    .option-three p a,
    .option-four p a,
    .option-five p a {
        font-size: 13px;
        font-weight: 500;
        color: #005BD3;
        text-decoration: none;
    }

    .customize-theme,
    .add-product,
    .name-store,
    .add-domain,
    .setup-payment {
        border-radius: 6px;
        background-color: #404040;
        color: #F6F3F6;
        margin-left: 31px;
        box-shadow: 0 -1px #B5B5B5;
        border-width: 1.5px 1.5px 0px 1.5px;
        border-style: solid;
        border-color: #FFFFFF33;
        width: 56px;
        height: 28px;
        box-shadow: 0px 0px 0px 1.5px #333333;
        box-shadow: 0px 1px 0px 1.5px #333333;
        box-shadow: 0px 2px 0px 0px #000000;
        font-size: 12px;
        font-weight: 600;
    }

    .option-one-right,
    .option-two-right,
    .option-three-right,
    .option-four-right,
    .option-five-right {
        margin-left: 100px;
    }

    .import-product {
        font-size: 12px;
        font-weight: 600;
        color: #323232;
    }

}